* {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.word-list {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.word-card {
  background: #111;
  border: 1px solid #222;
  border-radius: 20px;
  padding: 20px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word-card h2 {
  font-size: 28px;
}

.word-card p {
  margin-top: 10px;
  color: #aaa;
}

.example {
  margin-top: 20px;
  color: #666;
  font-style: italic;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #666;
  font-size: 18px;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}

.empty-state {
  color: #666;
  font-size: 20px;
}

.verb-forms {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.verb-box {
  background: #1a1a1a;
  border: 1px solid #333;
  padding: 10px 14px;
  border-radius: 12px;

  font-size: 14px;
}
